* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Kamran';
    src: url('../fonts/fa/B-Kamran/B-Kamran_0.ttf');
}

@font-face {
    font-family: 'Dirooz';
    src: url('../fonts/fa/Dirooz/Dirooz.ttf');
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/fa/Vazir/Vazir.ttf');
}