{% extends 'accounts/shared/_MainLayout.html' %}
{% load static %}

{% block page_title %}
<title>ورود - سیویژن</title>
{% endblock %}

{% block content %}
<section class="vh-100 d-flex align-items-center justify-content-center bg-light">
    <div class="login-wrapper">
        <form method="post" class="d-flex flex-column align-items-center justify-content-between gap-4 p-3">
            {% csrf_token %}
            <h4>وارد شوید!</h4>
            {{ login_form.username }}
            {{ login_form.password }}
            <button type="submit">ورود</button>
        </form>
        <!--
        <div class="pb-5 pt-2">
            <h5 class="text-center pb-4">ورود با</h5>
            <div class="d-flex align-items-center justify-content-center gap-4">
                <button class="social-login-icons bg-color-google">
                    <i class="fab fa-google text-white"></i>
                </button>
                <button class="social-login-icons bg-color-github">
                    <i class="fab fa-github text-white"></i>
                </button>
                <button class="social-login-icons bg-color-linkedin">
                    <i class="fab fa-linkedin text-white"></i>
                </button>
            </div>
        </div>
        -->
        <p class="text-center">
            <a href="/signup" class="text-muted text-decoration-none">میخواهم ثبت نام کنم!</a>
        </p>
    </div>
</section>
{% endblock %}