{% extends 'accounts/shared/_MainLayout.html' %}
{% load static %}

{% block page_title %}
<title>ثبت نام - سیویژن</title>
{% endblock %}

{% block content %}
<section class="vh-100 d-flex align-items-center justify-content-center bg-light">
    <div class="login-wrapper">
        <form method="post" class="d-flex flex-column align-items-center justify-content-between gap-4 p-3">
            {% csrf_token %}
            <h4>ثبت نام کنید!</h4>
            {{ signup_form.username }}
            {% for error in signup_form.username.errors %}
            <p style="color: red;">{{ error }}</p>
            {% endfor %}

            {{ signup_form.email }}
            {% for error in signup_form.email.errors %}
            <p style="color: red;">{{ error }}</p>
            {% endfor %}

            {{ signup_form.password }}
            {% for error in signup_form.password.errors %}
            <p style="color: red;">{{ error }}</p>
            {% endfor %}

            {{ signup_form.re_password }}
            {% for error in signup_form.re_password.errors %}
            <p style="color: red;">{{ error }}</p>
            {% endfor %}

            <button type="submit">ثبت نام</button>
        </form>
        <!--
        <div class="pb-5 pt-2">
            <h5 class="text-center pb-4">ورود با</h5>
            <div class="d-flex align-items-center justify-content-center gap-4">
                <button class="social-login-icons bg-color-google">
                    <i class="fab fa-google text-white"></i>
                </button>
                <button class="social-login-icons bg-color-github">
                    <i class="fab fa-github text-white"></i>
                </button>
                <button class="social-login-icons bg-color-linkedin">
                    <i class="fab fa-linkedin text-white"></i>
                </button>
            </div>
        </div>
        -->
        <p class="text-center">
            <a href="/login" class="text-muted text-decoration-none">قبلا ثبت نام کردم!</a>
        </p>
    </div>
</section>
{% endblock %}