{% extends 'userpanel/shared/_MainLayout.html' %}
{% load static %}


{% block page_title %}
<title>مشخصات - سیویژن</title>
{% endblock %}

{% block content %}
<section class="user-panel">
    <div class="sidenav index-2 d-block">
        <div class="profile-info d-flex justify-content-around align-items-center border-bottom mb-3">
            <img src="https://png.pngtree.com/png-vector/20190704/ourlarge/pngtree-businessman-user-avatar-free-vector-png-image_1538405.jpg" alt="">
            <div class="pt-3">
                <p class="fs-5 text-white">{{ fullname }}</p>
            </div>
            <button id="responsive-sidenav-btn" href="#" class="index500 text-white border-0 bg-transparent d-none"><i class="fas fa-times"></i></button>
        </div>
        <div class="sidenav-items">
            <a class="selected-item" href="/userpanel/user-basic-info">
                <i class="fa fa-user"></i>
                <span>مشخصات</span>
            </a>
            <a href="/userpanel/user-skills">
                <i class="fas fa-brain"></i>
                <span>مهارت ها</span>
            </a>
            <a href="/userpanel/user-projects">
                <i class="fas fa-braille"></i>
                <span>نمونه کار ها</span>
            </a>
            <a href="/userpanel/user-experiences">
                <i class="fas fa-calendar-alt"></i>
                <span>سوابق شغلی/تحصیلی</span>
            </a>
            <a href="/userpanel/user-messages">
                <i class="fas fa-envelope"></i>
                <span>پیام ها</span>
            </a>
        </div>
    </div>
    <div class="maincontent w-100">
        <header class="py-2 px-4 d-flex align-items-center justify-content-between index-1">
            <button id="sidenav-controller" class="sidenav-button">
                <i class="fa fa-bars"></i>
            </button>
            <a href="#" class="text-black">
                <i class="fa fa-eye"></i>
                <span>مشاهده رزونه من</span>
            </a>
            <a href="#">ارتباط با ما</a>
            <a href="#"> CVGen</a>
        </header>
        <main class="p-2 mt-5">
            <form method="post" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-flex justify-content-between mb-3">
                    <h4>اطلاعات پایه</h4>
                    <button class="btn-primary rounded-1 shadow">
                        <i class="fa fa-save"></i>
                        <span>ذخیره</span>
                    </button>
                </div>
                <div class="row">
                    <div class="form-floating col-6 col-md-3 mb-2">
                        <input name="firstname" type="text" class="form-control" id="firstname" placeholder="افشار" value="{{ user_info.firstname }}">
                        <label for="firstname">نام</label>
                    </div>
                    <div class="form-floating col-6 col-md-3 mb-2">
                        <input name="lastname" type="text" class="form-control" id="lastname" placeholder="شریفی" value="{{ user_info.lastname }}">
                        <label for="lastname">نام خانوادگی</label>
                    </div>
                    <div class="form-floating col-6 col-md-3 mb-2">
                        <input name="position" type="text" class="form-control" id="position" placeholder="توسعه دهنده بکند" value="{{ user_info.position }}">
                        <label for="position">عنوان شغلی</label>
                    </div>
                    <div class="form-floating col-6 col-md-3 mb-2">
                        <input name="birthyear" type="number" class="form-control" id="birthyear" placeholder="1380" value="{{ user_info.birthyear }}" min="1330" max="1401">
                        <label for="birthyear">سال تولد</label>
                    </div>
                    <div class="col-12 col-md-12 mb-2">
                        <label for="profile-image" class="form-label">انتخاب تصویر پروفایل</label>
                        <input name="profile_image" class="form-control" type="file" id="profile-image">
                    </div>

                    <div class="form-floating col-6 col-md-4 mb-2">
                        <input name="email" type="email" class="form-control" id="email" placeholder="afsharsharifi2020@gmail.com" value="{{ user_info.email }}">
                        <label for="email">ایمیل</label>
                    </div>
                    <div class="form-floating col-6 col-md-4 mb-2">
                        <input name="phone" type="tel" class="form-control" id="phone" placeholder="09012095461" value="{{ user_info.mobile }}">
                        <label for="phone">تلفن همراه</label>
                    </div>
                    <div class="form-floating col-6 col-md-4 mb-2">
                        <input name="city" type="text" class="form-control" id="address" placeholder="تهران" value="{{ user_info.city }}">
                        <label for="phone">محل سکونت</label>
                    </div>
                    <div class="col-12 col-md-12 mb-4">
                        <label for="select-template">انتخاب قالب</label>
                        <select name="select-template" class="form-select" aria-label="Default select example" id="select-template">
                            {{ user_info.template }}
                            {% if user_info.template == "1" %}
                            <option value="1" selected>Creative CV</option>
                            <option value="2">I’mRex</option>
                            <option value="3">Material CV</option>
                            <option value="4">Material Resume</option>
                            <option value="5">Right Resume</option>
                            {% endif %}
                            {% if user_info.template == "2" %}
                            <option value="1">Creative CV</option>
                            <option value="2" selected>I’mRex</option>
                            <option value="3">Material CV</option>
                            <option value="4">Material Resume</option>
                            <option value="5">Right Resume</option>
                            {% endif %}
                            {% if user_info.template == "3" %}
                            <option value="1">Creative CV</option>
                            <option value="2">I’mRex</option>
                            <option value="3" selected>Material CV</option>
                            <option value="4">Material Resume</option>
                            <option value="5">Right Resume</option>
                            {% endif %}
                            {% if user_info.template == "4" %}
                            <option value="1">Creative CV</option>
                            <option value="2">I’mRex</option>
                            <option value="3">Material CV</option>
                            <option value="4" selected>Material Resume</option>
                            <option value="5">Right Resume</option>
                            {% endif %}
                            {% if user_info.template == "5" %}
                            <option value="1">Creative CV</option>
                            <option value="2">I’mRex</option>
                            <option value="3">Material CV</option>
                            <option value="4">Material Resume</option>
                            <option value="5" selected>Right Resume</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-floating mb-2">
                        <textarea name="about" class="form-control h-300px" placeholder="درباره من" id="about-me" rows="5">{{ user_info.about }}</textarea>
                        <label for="about-me">درباره من</label>
                    </div>
                    <div class="form-floating col-6 col-md-4 mb-2">
                        <input name="instagram_id" type="text" class="form-control" id="instagram_id" placeholder="the.afshar" value="{{ user_info.instagram }}">
                        <label for="instagram_id">اینستاگرام</label>
                    </div>
                    <div class="form-floating col-6 col-md-4 mb-2">
                        <input name="telegram_id" type="text" class="form-control" id="telegram_id" placeholder="afshar_sharifi" value="{{ user_info.telegram }}">
                        <label for="telegram_id">تلگرام</label>
                    </div>
                    <div class="form-floating col-6 col-md-4 mb-2">
                        <input name="whtasapp_id" type="text" class="form-control" id="whtasapp_id" placeholder="+989012095461" value="{{ user_info.whatsapp }}">
                        <label for="whtasapp_id">واتساپ</label>
                    </div>
                    <div class="form-floating col-6 col-md-4 mb-2">
                        <input name="github_id" type="text" class="form-control" id="github_id" placeholder="afsharsharifi" value="{{ user_info.github }}">
                        <label for="github_id">گیت هاب</label>
                    </div>
                    <div class="form-floating col-6 col-md-4 mb-2">
                        <input name="gitlab_id" type="text" class="form-control" id="gitlab_id" placeholder="afsharsharifi" value="{{ user_info.gitlab }}">
                        <label for="gitlab_id">گیت لب</label>
                    </div>
                    <div class="form-floating col-6 col-md-4 mb-2">
                        <input name="stackoverflow_id" type="text" class="form-control" id="stackoverflow_id" placeholder="13569971" value="{{ user_info.stackoverflow }}">
                        <label for="stackoverflow_id">استک اور فلو</label>
                    </div>
                </div>
            </form>
        </main>
    </div>
</section>
{% endblock %}