{% extends 'userpanel/shared/_MainLayout.html' %}
{% load static %}


{% block page_title %}
<title>پیام ها - سیویژن</title>
{% endblock %}

{% block content %}
<section class="user-panel">
    <div class="sidenav index-2 d-block">
        <div class="profile-info d-flex justify-content-around align-items-center border-bottom mb-3">
            <img src="https://png.pngtree.com/png-vector/20190704/ourlarge/pngtree-businessman-user-avatar-free-vector-png-image_1538405.jpg" alt="">
            <div class="pt-3">
                <p class="fs-5 text-white">{{ fullname }}</p>
            </div>
            <button id="responsive-sidenav-btn" href="#" class="index500 text-white border-0 bg-transparent d-none"><i class="fas fa-times"></i></button>
        </div>
        <div class="sidenav-items">
            <a href="/userpanel/user-basic-info">
                <i class="fa fa-user"></i>
                <span>مشخصات</span>
            </a>
            <a href="/userpanel/user-skills">
                <i class="fas fa-brain"></i>
                <span>مهارت ها</span>
            </a>
            <a href="/userpanel/user-projects">
                <i class="fas fa-braille"></i>
                <span>نمونه کار ها</span>
            </a>
            <a href="/userpanel/user-experiences">
                <i class="fas fa-calendar-alt"></i>
                <span>سوابق شغلی/تحصیلی</span>
            </a>
            <a class="selected-item" href="/userpanel/user-messages">
                <i class="fas fa-envelope"></i>
                <span>پیام ها</span>
            </a>
        </div>
    </div>
    <div class="maincontent w-100">
        <header class="py-2 px-4 d-flex align-items-center justify-content-between">
            <button id="sidenav-controller" class="sidenav-button">
                <i class="fa fa-bars"></i>
            </button>
            <a href="/r/{{ user }}" class="text-black" target="_blank">
                <i class="fa fa-eye"></i>
                <span>مشاهده رزونه من</span>
            </a>
            <a href="#">ارتباط با ما</a>
            <a href="#"> CVGen</a>
        </header>
        <main class="mt-5 p-2">
            <h4>پیام ها</h4>
            <div class="all-msg">
                {% for msg in user_messages %}
                <div class="msg-tem d-flex flex-column bg-light mb-4">
                    <div class="d-flex justify-content-between align-items-center p-3 border-bottom">
                        <h4 class="fs-6">{{ msg.title }}</h4>
                        <h4 class="fs-6">{{ msg.fullname }}</h4>
                        <h4 class="fs-6">{{ msg.email }}</h4>
                    </div>
                    <div>
                        <p class="text-muted">
                            {{ msg.message }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
    </div>
</section>
{% endblock %}