{% extends 'userpanel/shared/_MainLayout.html' %}
{% load static %}


{% block page_title %}
<title>پروژه ها - سیویژن</title>
{% endblock %}

{% block content %}
<section class="user-panel">
    <div class="sidenav index-2 d-block">
        <div class="profile-info d-flex justify-content-around align-items-center border-bottom mb-3">
            <img src="https://png.pngtree.com/png-vector/20190704/ourlarge/pngtree-businessman-user-avatar-free-vector-png-image_1538405.jpg" alt="">
            <div class="pt-3">
                <p class="fs-5 text-white">افشار شریفی</p>
            </div>
            <button id="responsive-sidenav-btn" href="#" class="index500 text-white border-0 bg-transparent d-none"><i class="fas fa-times"></i></button>
        </div>
        <div class="sidenav-items">
            <a href="/userpanel/user-basic-info">
                <i class="fa fa-user"></i>
                <span>مشخصات</span>
            </a>
            <a href="/userpanel/user-skills">
                <i class="fas fa-brain"></i>
                <span>مهارت ها</span>
            </a>
            <a class="selected-item" href="/userpanel/user-projects">
                <i class="fas fa-braille"></i>
                <span>نمونه کار ها</span>
            </a>
            <a href="/userpanel/user-experiences">
                <i class="fas fa-calendar-alt"></i>
                <span>سوابق شغلی/تحصیلی</span>
            </a>
            <a href="/userpanel/user-messages">
                <i class="fas fa-envelope"></i>
                <span>پیام ها</span>
            </a>
        </div>
    </div>
    <div class="maincontent w-100">
        <header class="py-2 px-4 d-flex align-items-center justify-content-between">
            <button id="sidenav-controller" class="sidenav-button">
                <i class="fa fa-bars"></i>
            </button>
            <a href="#" class="text-black">
                <i class="fa fa-eye"></i>
                <span>مشاهده رزونه من</span>
            </a>
            <a href="#">ارتباط با ما</a>
            <a href="#"> CVGen</a>
        </header>
        <main class="mt-5 p-2">
            <!-- Button trigger modal -->
            <div class="d-flex justify-content-between mb-3">
                <h4>نمونه کارها</h4>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <span>
                        <i class="fa fa-plus"></i>
                        افزودن نمونه کار
                    </span>
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">افزودن نمونه کار</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="project-name" class="form-label">نام پروژه</label>
                                    <input name="project-name" type="text" class="form-control" id="project-name" placeholder="سیویژن">
                                </div>
                                <div class="mb-3">
                                    <label for="project-image" class="form-label">تصویر پروژه</label>
                                    <input name="project-image" type="file" class="form-control" id="project-image" placeholder="سیویژن" accept=".jpg, .jpeg, .png">
                                </div>
                                <div class="mb-3">
                                    <label for="project-link" class="form-label">لینک پروژه</label>
                                    <input name="project-link" type="text" class="form-control" id="project-link" placeholder="https://cvgen.com">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">توضیحات پروژه</label>
                                    <textarea name="project-description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">افزودن</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="all-projects">
                {% for project in user_projects %}
                <div class="project-item d-flex justify-content-between align-items-center p-2 bg-light border-bottom">
                    <div class="d-flex justify-content-between align-items-center gap-3">
                        <img src="{{ project.image.url }}">
                        <h5>{{ project.title }}</h5>
                    </div>
                    <div>
                        <button class="btn-action bg-warning"><a href="{{ project.link }}"><i class="fa fa-link text-white"></i></a></button>
                        <button class="btn-action bg-primary"><i class="fa fa-pen"></i></button>
                        <button class="btn-action bg-danger"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
    </div>
</section>
{% endblock %}