{% extends 'userpanel/shared/_MainLayout.html' %}
{% load static %}


{% block page_title %}
<title>مهارت ها - سیویژن</title>
{% endblock %}

{% block content %}
<section class="user-panel">
    <div class="sidenav index-2 d-block">
        <div class="profile-info d-flex justify-content-around align-items-center border-bottom mb-3">
            <img src="https://png.pngtree.com/png-vector/20190704/ourlarge/pngtree-businessman-user-avatar-free-vector-png-image_1538405.jpg" alt="">
            <div class="pt-3">
                <p class="fs-5 text-white">{{ fullname }}</p>
            </div>
            <button id="responsive-sidenav-btn" href="#" class="index500 text-white border-0 bg-transparent d-none"><i class="fas fa-times"></i></button>
        </div>
        <div class="sidenav-items">
            <a href="/userpanel/user-basic-info">
                <i class="fa fa-user"></i>
                <span>مشخصات</span>
            </a>
            <a class="selected-item" href="/userpanel/user-skills">
                <i class="fas fa-brain"></i>
                <span>مهارت ها</span>
            </a>
            <a href="/userpanel/user-projects">
                <i class="fas fa-braille"></i>
                <span>نمونه کار ها</span>
            </a>
            <a href="/userpanel/user-experiences">
                <i class="fas fa-calendar-alt"></i>
                <span>سوابق شغلی/تحصیلی</span>
            </a>
            <a href="/userpanel/user-messages">
                <i class="fas fa-envelope"></i>
                <span>پیام ها</span>
            </a>
        </div>
    </div>
    <div class="maincontent w-100">
        <header class="py-2 px-4 d-flex align-items-center justify-content-between">
            <button id="sidenav-controller" class="sidenav-button">
                <i class="fa fa-bars"></i>
            </button>
            <a href="/r/{{ user }}" class="text-black" target="_blank">
                <i class="fa fa-eye"></i>
                <span>مشاهده رزونه من</span>
            </a>
            <a href="#">ارتباط با ما</a>
            <a href="#"> CVGen</a>
        </header>
        <main class="mt-5 p-2">
            <!-- Button trigger modal -->
            <div class="d-flex justify-content-between mb-3">
                <h4>مهارت ها</h4>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <span>
                        <i class="fa fa-plus"></i>
                        افزودن مهارت
                    </span>
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">افزودن مهارت</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="skill-title" class="form-label">نام مهارت</label>
                                    <input name="skill-title" type="text" class="form-control" id="skill-title" placeholder="پایتون">
                                </div>
                                <div class="mb-3">
                                    <label for="skill-percentage" class="form-label">درصد مهارت</label>
                                    <input name="skill-percentage" type="number" class="form-control" id="skill-percentage" min="0" max="100" placeholder="80">
                                </div>
                                <button type="submit" class="btn btn-primary">افزودن</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="all-skills">
                {% for skill in user_skills %}
                <div class="skill-item d-flex justify-content-between align-items-center mb-2">
                    <h5>{{skill.title}}</h5>
                    <div class="progress w-75">
                        <div class="progress-bar bg-gradient" role="progressbar" style="width: {{ skill.percentage }}%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ skill.percentage }}%</div>
                    </div>
                    <div>
                        <a href="/userpanel/del-skills/{{ skill.id }}" class="btn-action bg-danger"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
    </div>
</section>
{% endblock %}