@font-face {
    font-family: 'Kamran';
    src: url('../fonts/fa/B-Kamran/B-Kamran_0.ttf');
}

@font-face {
    font-family: 'Dirooz';
    src: url('../fonts/fa/Dirooz/Dirooz.ttf');
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/fa/Vazir/Vazir.ttf');
}

@font-face {
    font-family: 'FarsiDigit';
    src: url('../fonts/fa/Dirooz/Farsi-Digits/Dirooz-FD.ttf');
}

body {
    font-family: 'Vazir';
}