{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block page_title %} {% endblock %}
    {% include 'accounts/shared/_HeaderReferences.html' %}
    {% block header_ref %} {% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    {% include 'accounts/shared/_FooterReferences.html' %}
    {% block footer_ref %} {% endblock %}
</body>

</html>