{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block page_title %} {% endblock %}
    {% include 'userpanel/shared/_HeaderReferences.html' %}
    {% block header_ref %} {% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    {% include 'userpanel/shared/_FooterReferences.html' %}
    {% block footer_ref %} {% endblock %}
    <script>
        document.getElementById("sidenav-controller").onclick = function() {
            var sidenavElm = document.getElementsByClassName("sidenav")[0]
            var maincontentElm = document.getElementsByClassName("maincontent")[0]

            if (sidenavElm.style.width == '260px') {
                if (screen.width <= 768) {
                    sidenavElm.style.width = "0";
                    maincontentElm.style.marginRight = "0";
                    maincontentElm.style.width = "100%";
                } else {
                    sidenavElm.style.width = "0";
                    maincontentElm.style.marginRight = "0";
                    maincontentElm.style.width = "100%";
                }
            } else {
                if (screen.width <= 768) {
                    sidenavElm.style.width = "90vw";
                    maincontentElm.style.marginRight = "90vw";
                    maincontentElm.style.width = "80%";
                } else {
                    sidenavElm.style.width = "260px";
                    maincontentElm.style.marginRight = "260px";
                    maincontentElm.style.width = "80%";
                }
            }
        }
    </script>
</body>

</html>