{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block page_title %} {% endblock %}
    {% include 'userpanel/shared/_HeaderReferences.html' %}
    {% block header_ref %} {% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    {% include 'userpanel/shared/_FooterReferences.html' %}
    {% block footer_ref %} {% endblock %}
    <script>
        if (screen.width <= 760) {
            document.getElementsByClassName("sidenav")[0].classList.add("d-none")
            document.getElementsByClassName("maincontent")[0].classList.remove("w-80")
            document.getElementsByClassName("maincontent")[0].classList.add("w-100")
        } else {
            document.getElementsByClassName("sidenav")[0].style.display = "block"
            document.getElementsByClassName("maincontent")[0].classList.remove("w-100")
            document.getElementsByClassName("maincontent")[0].classList.add("w-80")
        }

        function SidenavController() {
            var sidenavElm = document.getElementsByClassName("sidenav")[0]
            var maincontentElm = document.getElementsByClassName("maincontent")[0]

            if (screen.width >= 760) {
                if (sidenavElm.classList.contains("d-block")) {
                    console.log("in if 1");
                    sidenavElm.classList.remove("d-block")
                    sidenavElm.classList.add("d-none")
                    maincontentElm.classList.remove("w-80")
                    maincontentElm.classList.add("w-100")
                } else {
                    console.log("in else 1");
                    sidenavElm.classList.remove("d-none")
                    sidenavElm.classList.add("d-block")
                    maincontentElm.classList.remove("w-100")
                    maincontentElm.classList.add("w-80")
                }
            } else {
                if (sidenavElm.classList.contains("d-none")) {
                    console.log("in if 2");
                    sidenavElm.classList.remove("d-none")
                    sidenavElm.classList.add("w-260")
                    document.getElementById("responsive-sidenav-btn").classList.remove("d-none")
                } else {
                    console.log("in else 2");
                    sidenavElm.classList.add("d-none")
                    sidenavElm.classList.remove("w-260")
                    document.getElementById("responsive-sidenav-btn").classList.add("d-none")
                }
            }
        }

        document.getElementById("sidenav-controller").onclick = SidenavController
        document.getElementById("responsive-sidenav-btn").onclick = SidenavController
    </script>
</body>

</html>